
/* header */
header {
  color: #666666;
  background: transparent;
  a{
    &:link,&:hover,&:visited{
        color: #666666;
        text-decoration: none;
    }
  }
}

.primary-header {
    width: calc(100% - 20px);
    background-color: #cccccc;
    padding: 5px 10px 30px;
    display: inline-block;
    height: 0px;
}
.primary-header > a {
  max-width: 40%;
  margin-right: 1em;
}
/* banner */
#logo {
  float: left;
  a {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
  }
  img {
    float: left;
    margin: 0.2em 1em 0.2em 0;
    max-height: 79px;
    max-width: 277px;
    min-height: 48px;
    min-width: 170px;
    width: 96%;
    height: auto;
  }
}
/* search */
/* search icon: &#xf002; */
#portal-searchbox {
  width: 90%;
  height: 30px;
  float: left;
  text-align: right;
  padding: 0;
  border-radius: 2px;
  background-color: #eee;
  input.searchField {
      border: 0;
      padding: 0.5em 0.2em 0.5em 0.2em;
      width: 81%;
      background: transparent;
  }
  input.searchButton {
    padding: 0.5em;
    border: 0;
    background: transparent;
    width: 35px;
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
  }
}
#LSResult {
  margin-top: 0;
}
#acessibilidade{
  float: right;
}
#linkAltoContraste {
  display: inline-block;
}
#acessibilidade a{
  margin-right: 2em;
  cursor: pointer;
}

#second-header{
    .col-md-4:nth-child(2){
      position: relative;
      top: 2em;
    }
    .col-md-4:nth-child(3){
      position: relative;
      top: 3em;
    }
} 

/* Navigation */
#btnav > i {
  display: none;
}
nav {
    clear: both;
    font-size: 0.9em;
    background: transparent;
    ul {
      background: #ffffff;
      background: transparent;
      color: #666666;
        li:nth-child(1) a::before {background: #d90013;}
        li:nth-child(2) a::before {background: #f38003;}
        li:nth-child(3) a::before {background: #008044;}
        li:nth-child(4) a::before {background: #339fd6;}
        /*submenus cor*/
        li:nth-child(1) .submenu li a::before {background: #d90013; }
        li:nth-child(1) .submenu li a{color: #000;}
        li:nth-child(2) .submenu li a::before {background: #f38003; }
        li:nth-child(2) .submenu li a{color: #000;}
        li:nth-child(3) .submenu li a::before {background: #008044;}
        li:nth-child(3) .submenu li a{color: #000;}
        li:nth-child(4) .submenu li a::before {background: #339fd6; }
        li:nth-child(4) .submenu li a{color: #000;}
    }
    a {
      padding: 1em;
      text-decoration: none;
      min-width: 3em;
      display: inline-block;
    }
    li{ 
        a {
          line-height: auto;
          padding: 9px 15px;
          &::before {
            content: " ";
            width: 10px;
            height: 10px;
            margin: 5px;
            background-color: #000;
            display: inline-block;
            vertical-align: middle; 
          }
        }
        &:hover {
          position: relative;
        }
        &:hover > ul.submenu {
          display: block;
          position: absolute;
          z-index: 99999;
          background: #ffffff;
          background: #F5F5F5;
          text-align: left;
          width: 200px;
          -moz-box-shadow: 0 5px 10px #d6d6d6;
          -webkit-box-shadow: 0 5px 10px #d6d6d6;
          box-shadow: 0 5px 10px #d6d6d6;
        }
        &:first-child a {
            padding-left: 0;
        }
    }
    ul.submenu a.state-published:hover,
    .selected ul.submenu .state-published {
      color: #666666;
    }
    /* dropdown compatibility */
    .submenu .submenu {
      display: none !important;
    }
    .submenu li a {
      width: 160px;
    }

    
}


.selected ul.submenu .state-published {
  color: #008044 !important;
}
ul.submenu a.state-published:hover {
  color: #001a0e !important;
}

nav ul li a.plain{
  font-weight:bold;
}

/*********** Portlets ***********/
/* general styles */
.portletHeader,
dl.portlet dt.portletHeader {
  border-bottom: #d9d9d9 1px solid;
  font-weight: bold;
  background: transparent;
  color: #000000;
}
.portletHeader a,
dl.portlet dt.portletHeader a {
  color: #000000;
}
.portlet {
  margin-bottom: 2em;
  padding: 4px 0;
}
/* lists inside columns */
aside{
  dl,dd,ul{
      padding: 0;
      margin: 0;
  }
  a {
  text-decoration: none;
  }
}
/* portlet navigation */
.portletNavigationTree{
  ul {
      margin: 0;
  }
  li {
      list-style-position: inside;
  }
  .navTreeLevel0 > li {
      border-bottom: #d9d9d9 1px solid;
      list-style: none;
  }
  a {
      display: block;
      padding: 0.3em 0.3em 0.3em 0.5em;
      a:hover{
        background: #f2f2f2;
      }
  }
}

.navTreeLevel2 a {
  padding-left: 1em;
}
.navTreeLevel3 a {
  padding-left: 2em;
}
.navTreeLevel4 a {
  padding-left: 3em;
}
.navTreeLevel5 a {
  padding-left: 4em;
}
.navTreeLevel6 a {
  padding-left: 5em;
}
dl.portlet ul.navTree .navTreeCurrentItem {
  background: transparent;
}
/********** Config bugs *************/
.label,
.badge {
  color: #333333;
  text-shadow: 0;
  background-color: transparent;
}
.label:empty,
.badge:empty {
  display: inline;
}
/*Theme Customiser*/
#portal-title {
  display: block;
  font-size: 99%;
  font-weight: bold;
  line-height: 30%;
  margin-top: 6%;
}
#header-text {
  padding-left: 0;
}
#portal-description {
  font-weight: normal;
  font-size: 45%;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	 #logo {
    position: absolute;
    left: 70px;
      a{
         img {
          margin-top: 5px;
          width: 40vw;
          max-width: 3em;
          height: auto;
          top: 0;
          position: absolute;
        }
      }
  }
  #portal-breadcrumbs {
    display: none;
  }
  #main-header {
    height: 45px;
    z-index: 3;
  }
  #second-header {
    position: fixed;
    left: 0;
    top: 30px;
    background-color: white;
    margin: 0;
    z-index: 3;
    height: 100px;
  }
  #portal-searchbox {
    position: absolute;
    top: 18px;
    // width: 30vw;
    width: calc(300% - 40px);
    margin-left: 20px;
  }
  #btnav {
    width: 40px;
    padding: 10px;
    height: 40px;
    display: block;
    top: 30px;
    left: 10px;
    position: fixed;
    z-index: 9;
    ul {
      display: none;
    }
  }
  ul.submenu {
    display: none !important;
  }
  nav li {
    display: block;
    height: auto;
    min-width: 200px;
  }
  div:hover#btnav ul {
    padding-top: 10px;
    display: block;
    top: 40px;
    position: absolute;
    background: #ffffff;
  }
  div:hover#btnav ul li a {
    padding: 10px;
  }
  #btnav i {
    display: block;
    font-size: 2em;
    padding-top: 10px;
    color: #888;
  }
  header > div {
    width: 100%;
  }
  .primary-header {
    position: fixed;
    z-index: 3;
    top: 0;
    margin: 0;
    margin-left: -20px;
    width: 100%;
    height: 1.5em;
    padding: 0.5em;
    font-size: 12px;
  }
  #portal-personaltools {
    display: none;
  }
  #cmb_secretarias {
    left: 30px;
    position: absolute;
    top: 0.1em;
  }
  #acessibilidade {
    position: relative;
    top: 3em;
    font-size: 12px;
    margin: 0;
    width: 220px;
  }
}
/*  Up to 600px */
@media (max-width: 600px) {
  #portal-searchbox {
    width: calc(100% - 40px);
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #logo {
    width: 70%;
  }
  #acessibilidade {
    right: -120px;
    font-size: 10px;
    position: absolute;
    top: 1em;
  }  
  #linkAltoContraste {
    display: block;
  }  
}
