/* CONTRASTE */

.contraste{
    color: #ffffff !important;
    margin: 0;
    background: #000000;
    #main-header{
      a,option{
        color: #fff;
      }
      .primary-header{
        background-color: #04c;
      }
      nav ul{
          background: #000000;
          color: #ffffff;
      }
    }
    header a{
      &:link, &:hover, &:visited {
        color: #ffffff !important;
      }
    }
    .footerContainer{
        background: #000000;
        option,a,span,h4{
          color: #ffffff;
        }
        #footerSecondRow{
            .col-md-3{
              &:nth-child(1) img{
                background-color: #fff;
              }
            }
        }
    }
    .galleria-container{
      background: #000000;      
    }
    #portal-breadcrumbs{
      a{
        color: #ffffff;
      }
       color: #ffffff;
    }
    #content, .documentByLine, .documentFirstHeading{
        
        a,p,span,h1,h2,h3,h4,h5,h6{
          color: #ffffff !important;   
        }
    }

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {

}
