/********** Footer **********/
footer {
  //padding: 2em 2em 0 2em;
  font-size: 80%;
  p {
      margin-bottom: 2em;
  }
}

  .footerContainer{
    min-height: 500px;
    display: inline-block;
    background: #eee;
    padding: 20px 30px 20px 30px;
    option, a, span{
        color: #000;
    }
  }
  .footerContainer > div > .col-md-3 {
    min-width: 240px;
    display: inline-block;
  }
  #footerSecondRow{
      margin-right: 20px;
      margin-top: 50px;
      padding-top: 20px;
      .col-md-3:nth-child(4){
        img{
          width: 40px;
        }
      } 
  }
  #footerPrimaryRow{
    margin-right: 20px;
  }
  .footerTitleItem{
      font-weight: bold;
      margin:  10px 0px 10px 0px;
  }

#footer-info {
  padding-top: 10px;
}
#portal-siteactions {
  text-align: left;
}
/**** RESPONSIVE ***/
#btnav{ 
  i {
    display: none;
  }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {
  /*Footer Properties*/

  footer {
    padding-left: 2em;
    padding-right: 2em;
  }
  .footerContainer {
    width: 100%;
    min-height: 500px;
    display: inline-block;
    background: #eee;
    padding: 0.5em 2em;
    margin: 0em -2em 1em;
}
}
